<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalProject2Client</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>restraunts</display-name>
    <servlet-name>restraunts</servlet-name>
    <servlet-class>edu.shim.ws.restraunts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restraunts</servlet-name>
    <url-pattern>/restraunts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movies</display-name>
    <servlet-name>movies</servlet-name>
    <servlet-class>edu.shim.ws.movies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movies</servlet-name>
    <url-pattern>/movies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>news</display-name>
    <servlet-name>news</servlet-name>
    <servlet-class>edu.shim.ws.news</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homepage</display-name>
    <servlet-name>homepage</servlet-name>
    <servlet-class>edu.shim.ws.homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homepage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>events</display-name>
    <servlet-name>events</servlet-name>
    <servlet-class>edu.shim.ws.events</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>events</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
</web-app>